<h3>Новый Пост</h3>

<form action="/new" method="POST">

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Имя</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Имя">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Тест поста</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

  <button type="button" class="btn btn-primary">Отправить</button>

</form>